# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Enderal specific projects dirs
/enderal - forgotten stories.esm
/forgotten_stories_t
/enderal_shards_of_the_order

# Audiodirs
/static
/source
/*source/**
/public
/output
/multispeaker_output
/tacotron_output

/logs

# Untracked files:
.prettierrc 
ffmpeg.exe 
api_logs.log 
remove_all.py
remove_all.py
move_audios_to_wavs_folder.py
move_transcripts_to_folders.py
move_transcripts_to_respective.py
get_all_wav_file.py
karty_postaci.csv
files.txt
texts.txt
status.json
recalculate_durations.py
# Excluded types
*.db 
*.7z
*.bat
/finalisation_classes/__pycache__/*.pyc
public/source

__pycache__/tables_definition.cpython-39.pyc
api_endpoints/__pycache__/__init__.cpython-39.pyc
api_endpoints/__pycache__/r_audios.cpython-39.pyc
api_endpoints/__pycache__/r_bindings.cpython-39.pyc
api_endpoints/__pycache__/r_categories.cpython-39.pyc
api_endpoints/__pycache__/r_config.cpython-39.pyc
api_endpoints/__pycache__/r_status.cpython-39.pyc
api_endpoints/__pycache__/r_texts.cpython-39.pyc
finalisation_classes/__pycache__/__init__.cpython-39.pyc
finalisation_classes/__pycache__/BaseFinalise.cpython-39.pyc
finalisation_classes/__pycache__/EnderalFinalise.cpython-39.pyc
finalisation_classes/__pycache__/MultiSpeakerFinalise.cpython-39.pyc
finalisation_classes/__pycache__/TacotronFinalise.cpython-39.pyc
