$gap_size: 0.2rem
$background-color: white
$primary_color: #0569ff
$secondary_color: #0445a7

.heading_name
    font: 1.5rem Arial !important
    margin: 0
    padding: 0 0 0.4rem 0 !important

#transcript
    #lines
        display: grid
        position: relative
        & > div
            display: grid
            grid-template-columns: 15% 30% 43% 12%
            text-align: center
            align-items: center
            span
                word-break: break-word
                font: 1rem Arial
            &.heading > *
                font-family: Arial
                border-right: 2px solid $primary_color
                margin: 0
            
            &:not(&.heading) > *
                padding: $gap_size
                margin: $gap_size
            & > .transcript
                font: 1.2rem Arial
                min-height: 90%
                max-width: calc(100% - $gap_size)
                padding: $gap_size * 2 !important
                resize: none
            & > .category
                font: 1.2rem Arial
            &.heading
                position: sticky
                top: 0
                left: 0
                z-index: 10
                border-bottom: 2px solid $primary_color
                margin-bottom: $gap_size
                background: $background-color

#pagination
    // Declare variables for pagination element
    $pagination_gaps: $gap_size
    z-index: 10
    overflow-x: scroll
    display: flex
    flex-flow: row nowrap
    margin: $gap_size 0 0
    position: sticky
    bottom: 0
    left: 0
    background-color: $background-color

    .paginationElement
        will-change: filter
        transition: filter .2s
        padding: 1.5rem
        position: relative
        background-color: $background-color
        cursor: pointer
        text-align: center
        display: flex
        flex-flow: column nowrap
        align-items: center
        justify-content: center
        border: 2px solid $primary_color
        &.active
            background: $primary_color
            color: white
            border: 2px solid $secondary_color
        &:nth-of-type(n + 1):not(:last-of-type)
            margin: 0 $pagination_gaps 0 0
        &:hover
            filter: brightness(1.5)
            span
                transform: scale(1.1)
        span
            position: absolute
            font: 1.2rem Verdana
            
#sidebar
    align-items: center
    position: sticky
    top: 0
    right: 0
    height: fit-content
    font: 1rem Arial
    text-align: center
    input
        font: 1rem Arial
        padding: 0.2rem
        margin: 0.2rem 0  
    & > *
        padding: 0.2rem
        border-bottom: 2px solid $primary_color

        
