.heading_name {
  font: 1.5rem Arial !important;
  margin: 0;
  padding: 0 0 0.4rem 0 !important;
}

#transcript #lines {
  display: grid;
  position: relative;
}
#transcript #lines > div {
  display: grid;
  grid-template-columns: 15% 30% 43% 12%;
  text-align: center;
  align-items: center;
}
#transcript #lines > div span {
  word-break: break-word;
  font: 1rem Arial;
}
#transcript #lines > div.heading > * {
  font-family: Arial;
  border-right: 2px solid #0569ff;
  margin: 0;
}
#transcript #lines > div:not(#transcript #lines > div.heading) > * {
  padding: 0.2rem;
  margin: 0.2rem;
}
#transcript #lines > div .transcript_area {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  max-height: calc(100% - 0.4rem);
  max-width: calc(100% - 0.4rem);
  padding: 0.4rem;
  margin: 0.4rem;
}
#transcript #lines > div .transcript_area .transcript {
  position: absolute;
  top: 0;
  right: 0;
  font: 1.2rem Arial;
  padding: 0.4rem !important;
  resize: none;
  height: 100%;
  width: 100%;
  z-index: 5;
}
#transcript #lines > div .transcript_area .special_char_container {
  display: flex;
  flex-flow: row nowrap;
  grid-gap: 0.5rem;
  z-index: 10;
  margin: 0.2rem;
}
#transcript #lines > div .transcript_area .special_char_container > .special_character {
  font: 1.1rem Verdana;
}
#transcript #lines > div > .category {
  font: 1.2rem Arial;
}
#transcript #lines > div.heading {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 2px solid #0569ff;
  margin-bottom: 0.2rem;
  background: white;
}

#pagination {
  z-index: 10;
  overflow-x: scroll;
  display: flex;
  flex-flow: row nowrap;
  margin: 0.2rem 0 0;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: white;
}
#pagination .paginationElement {
  will-change: filter;
  transition: filter 0.2s;
  padding: 1.5rem;
  position: relative;
  background-color: white;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 2px solid #0569ff;
}
#pagination .paginationElement.active {
  background: #0569ff;
  color: white;
  border: 2px solid #0445a7;
}
#pagination .paginationElement:nth-of-type(n + 1):not(:last-of-type) {
  margin: 0 0.2rem 0 0;
}
#pagination .paginationElement:hover {
  filter: brightness(1.5);
}
#pagination .paginationElement:hover span {
  transform: scale(1.1);
}
#pagination .paginationElement span {
  position: absolute;
  font: 1.2rem Verdana;
}

#sidebar {
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  height: fit-content;
  font: 1rem Arial;
  text-align: center;
}
#sidebar input {
  font: 1rem Arial;
  padding: 0.2rem;
  margin: 0.2rem 0;
}
#sidebar > * {
  padding: 0.2rem;
  border-bottom: 2px solid #0569ff;
}

#slideContainer {
  background: #0569ff;
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=App.css.map */
